<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Insert title here</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- 设置移动设备的 -->
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
		
		<script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- 
			Bootstrap 需要为页面内容和栅格系统包裹一个 .container 容器。我们提供了两个作此用处的类。
			注意，由于 padding 等属性的原因，这两种 容器类不能互相嵌套。 
			.container 类用于固定宽度并支持响应式布局的容器。
			.container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器。
		-->
		<div class="container">
			<!-- 
				Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。
				它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。
				
				栅格系统用于通过一系列的行（row）与列（column）的组合来创建页面布局，你的内容就可以放入这些创建好的布局中。
				下面就介绍一下 Bootstrap 栅格系统的工作原理：
				1、“行（row）”必须包含在 .container （固定宽度）或 .container-fluid （100% 宽度）中，以便为其赋予合适的排列（aligment）和内补（padding）。
				2、通过“行（row）”在水平方向创建一组“列（column）”。
				3、你的内容应当放置于“列（column）”内，并且，只有“列（column）”可以作为行（row）”的直接子元素。
				4、类似 .row 和 .col-xs-4 这种预定义的类，可以用来快速创建栅格布局。Bootstrap 源码中定义的 mixin 也可以用来创建语义化的布局。
				5、通过为“列（column）”设置 padding 属性，从而创建列与列之间的间隔（gutter）。通过为 .row 元素设置负值 margin 从而抵消掉为 .container 元素设置的 padding，也就间接为“行（row）”所包含的“列（column）”抵消掉了padding。
				6、负值的 margin就是下面的示例为什么是向外突出的原因。在栅格列中的内容排成一行。
				7、栅格系统中的列是通过指定1到12的值来表示其跨越的范围。例如，三个等宽的列可以使用三个 .col-xs-4 来创建。
				8、如果一“行（row）”中包含了的“列（column）”大于 12，多余的“列（column）”所在的元素将被作为一个整体另起一行排列。
				9、栅格类适用于与屏幕宽度大于或等于分界点大小的设备 ， 并且针对小屏幕设备覆盖栅格类。 因此，在元素上应用任何 .col-md-* 栅格类适用于与屏幕宽度大于或等于分界点大小的设备 ， 并且针对小屏幕设备覆盖栅格类。 因此，在元素上应用任何 .col-lg-* 不存在， 也影响大屏幕设备。
			 -->
			<div class="row">
				<!-- 
					HTML 中的所有标题标签，<h1> 到 <h6> 均可使用。另外，还提供了 .h1 到 .h6 类，为的是给内联（inline）属性的文本赋予标题的样式。
				 -->
				<div class="col-md-4 h1">123</div>
				<div class="col-md-4"><span th:text="${text}"></span></div>
				<div class="col-md-4">23</div>
				<div class="col-md-4">432</div>
			</div>
			<div class="row">
				<div class="col-md-4">098</div>
			</div>
		</div>
	</body>
</html>